.fa-plus {
    border-radius: 50%;
    padding: 14px;
    font-size: 1.2em;
    background: #ff006e;
    color: white;
    position: fixed;
    float: inline-end;
    bottom: 3vh;
    right: 3vw;
    box-shadow: 1.5px 1.5px 3px rgba(2, 2, 5, .6);
    cursor: pointer;
}