form {
    width: 60vw;
    position: fixed;
    background: #fefae0;
    left: 18vw;
    top: 20vh;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.6);
}

.form-content {
    margin: 3px;
    padding: 26px 20px 14px;
    display: flex;
    flex-direction: column;
    position: relative;
}

form .fa-times {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-size: 1.2em;
    z-index: 100;
}

#name {
    width: 100%;
    margin-bottom: 3px;
}

.down {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.down #price {
    width: 59%;
}

.down #save {
    width: 39%;
}