body {
    font-family: 'Roboto', sans-serif;
    background: #fca311;
    color: #14213d;
}

.container {
    width: 94%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-container {
    width: 100%
}

.login-message {
    display: block;
    width: 12em;
    margin: auto;
    margin-top: 8em;
    font-weight: 700;
}

@media screen and (min-width: 500px) {
    .container {
        width: 80%;
    }
}

@media screen and (min-width: 700px) {
    .container {
        width: 50%;
    }
}