body {
    font-family: 'Roboto', sans-serif;
    background: #fca311;
    color: #14213d;
}

.container {
    width: 94%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 500px) {
    .container {
        width: 80%;
    }
}

@media screen and (min-width: 700px) {
    .container {
        width: 50%;
    }
}